* {
  padding: 0;
  margin: 0;
}
.menu {
  background: #00b07c;

  height: 80px;

  display: flex;

  align-items: center;

  padding-left: 50px;
}

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: #ffffff;
}

.section_create_task {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin-top: 30px;
  border: 2px solid red;
}
